<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% load static %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel="stylesheet" href="{% static 'travels/css/main.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <header>
        <h1>Welcome, {{name}}</h1>
        <div class="user">
            <a href="/main">Logout</a>
        </div>
    </header>
    <h3>Your Trip Schedule</h3>
    <table id="schedule">
        <thead>
            <tr>
                <th>Destination</th>
                <th>Travel Start Date</th>
                <th>Travel End Date</th>
                <th>Plan</th>
            </tr>
        </thead>
        <tbody>
            {%for trip in schedule%}
            <tr>
                <td><a href="/travels/destination/{{trip.id}}">{{trip.destination}}</a></td>
                <td>{{trip.start_date}}</td>
                <td>{{trip.end_date}}</td>
                <td>{{trip.desc}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Other User's Travel Plans</h3>
    <table id="other_trips">
        <thead>
            <tr>
                <th>Name</th>
                <th>Destination</th>
                <th>Travel Start Date</th>
                <th>Travel End Date</th>
                <th>Do you want to Join?</th>
            </tr>
        </thead>
        <tbody>
            {%for other in other_trips%}
            <tr>
                <td>{{other.planner.name}}</td>
                <td><a href="/travels/destination/{{other.id}}">{{other.destination}}</a></td>
                <td>{{other.start_date}}</td>
                <td>{{other.end_date}}</td>
                <td><a href="/travels/{{other.id}}">Join</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <footer>
        <a href="/travels/add">Add Travel Plan</a>
    </footer>
</body>
</html>